<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [1]:
# What is your name! print your name!
# Only use one print function

In [2]:
print("My name is Pratiksha.")

My name is Pratiksha.

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [3]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4

In [4]:
mukesh = 5
z = 6
rohan = 5
longitude = 4

In [5]:
# print required variable
# output - 5

In [6]:
rohan

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [7]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"

In [8]:
ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = "Manral"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [9]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables

In [10]:
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [11]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables

In [12]:
print(ur_age)
print(ur_weight)
print(ur_first_name)
print(ur_last_name)

21
50.6
Mukesh
Manral

In [13]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name

In [14]:
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'

In [15]:
TrueOrFalse = ur_last_name == ur_first_name
TrueOrFalse

True

In [16]:
# define a variable name "x" and assign value 777 and print it
x=777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [17]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string
x = 7
y = 77
z = 77.7
zz = 'Hi'

# **`Arithmetic Operators`**

In [18]:
# add x and z
x+y

84

In [19]:
# subtract z and y
z-y

0.7000000000000028

In [20]:
# Multiply x and z
x*z

543.9

In [21]:
# Exponent (raise the power or times) x times z
x**z

4.614426248242042e+65

In [22]:
# division on x and z
x/z

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [23]:
# floor division(ignores decimal) on x and z (gives quotient)
x//z

0.0

In [24]:
# Modulo(gives remainder) on x and z
x%z

7.0

# **`Comparison Operators`**

In [25]:
# comapre and see if x is less then z
# can use '<' symbol
x<z

True

In [26]:
# check the type of above comaprison where it says comapre and see if x is less then z
type(x<z)

bool

* `Bool` => takes two values, either `True` or `False`

In [27]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x<=z

True

In [28]:
# comapre and see if x equall to z
# can use '==' symbol
x==z

False

In [29]:
# comapre and see if x is greater than z
# can use '>' symbol
x>z

False

In [30]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x>=z

False

In [31]:
# comapre and see if x is Not equall to z
# can use '!=' symbol

x!=z

True

# **`Logical Operators`**

In [32]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True

In [33]:
108 == 108 and 21 == 21

True

In [34]:
# how above condition can give False as output show all those conditions
108!=108 and 21==21

False

In [35]:
108==108 and 21!=21

False

In [36]:
108!=108 or 21!=21

False

In [37]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True

In [38]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

In [39]:
(108 == 108) or (21 == 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [40]:
# make variable with value as : money 100000

# see output of money > 2000
money = 100000
if money > 2000:
  print("money is greater than 2000")

money is greater than 2000

In [41]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
money = 10000

if money > 1000:
  print("Data science course free")
else:
  print("To enroll in data science course you need more money")

Data science course free

In [42]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

In [43]:
test_score = 80

if test_score > 80:
  print("A grade")
elif test_score > 60 and test_score <= 80:
  print("B grade")
else:
  print("Nothing for you")

B grade

# **`Python Loops`**

In [44]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [45]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [46]:
# print 'I love sports' 10 times using for loop

In [47]:
for i in range(10):
  print('I love sports')

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [48]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [ ]:
# while loop

# save 0 in variable number

# print till 10 using while loop

In [49]:
number = 0
while number <= 10:
  print(number)
  number += 1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [50]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5

In [51]:
for number in range(10):
  print('The number is', number)
  if number == 5:
    break

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

# **`Continue Statement`**

In [52]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

In [53]:
for number in range(10):
  if number == 5:
    continue
  print('The number is', number)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [54]:
string_ = '' or "" or """ """

In [55]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

In [56]:
string_variable = "We are creating next generation data science eco-system at CollegeRanker"

In [57]:
string_variable

'We are creating next generation data science eco-system at CollegeRanker'

In [58]:
# Find length of string including spaces

In [59]:
len(string_variable)

72

In [60]:
# Access characters in a string with indexing i.e string[0]

In [63]:
print(string_variable[0])
print(string_variable[5])
print(string_variable[10])
print(string_variable[15])
print(string_variable[21])
print(string_variable[26])
print(string_variable[30])
print(string_variable[35])
print(string_variable[38])
print(string_variable[42])

W
e
a

g
a
n
a
c
c

In [64]:
# Access characters with negative indexing i.e string[-1]
print(string_variable[-1])
print(string_variable[-5])
print(string_variable[-7])
print(string_variable[-21])
print(string_variable[-28])

r
a
e
s

# String Slicing

In [65]:
# select string from first to 6th element i.e string[:6]
print(string_variable[:6])

We are

In [66]:
# select string from 7th to negative 10th element i.e string[7:-10]
print(string_variable[7:-10])

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [67]:
# Count the number of times 'a' appears in the string
count_a = string_variable.count('a')
count_a

7

Count of a particular `sub-string` in a string

In [70]:
# Count the number of times 'data science' appears in the string
count_eco_system= string_variable.count('eco-system')
count_eco_system

1

Find a substring in string using `find` and `index` function

In [ ]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

In [72]:
string_variable = "We are creating next generation data science eco-system at CollegeRanker"
substring_to_find = "eco-system"

index = string_variable.find(substring_to_find)

if index != -1:
  print(f"'{substring_to_find}' found at index: {index}")
else:
  print(f"'{substring_to_find}' not found in the string.")

'eco-system' found at index: 45

In [73]:
### Checking whether string `startswith` or `endswith` a particular substring or not

In [74]:
starts_with = string_variable.startswith("We are")
print(f"Starts with 'We are': {starts_with}")

# Check if the string ends with "CollegeRanker"
ends_with = string_variable.endswith("CollegeRanker")
print(f"Ends with 'CollegeRanker': {ends_with}")

Starts with 'We are': True
Ends with 'CollegeRanker': True

In [75]:
### Converting string to upper case ###

In [76]:
uppercase_string = string_variable.upper()

print(f"Original string: {string_variable}")
print(f"Uppercase string: {uppercase_string}")

Original string: We are creating next generation data science eco-system at CollegeRanker
Uppercase string: WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER

In [77]:
### Converting only first character of string to upper case

In [78]:
capitalized_string = string_variable.capitalize()

print(f"Original string: {string_variable}")
print(f"Capitalized string: {capitalized_string}")

Original string: We are creating next generation data science eco-system at CollegeRanker
Capitalized string: We are creating next generation data science eco-system at collegeranker

In [79]:
### Checking if string is in lower case or upper case

In [80]:
is_lower = string_variable.islower()
print(f"Is string in lowercase? {is_lower}")

is_upper = string_variable.isupper()
print(f"Is string in uppercase? {is_upper}")

# Convert string to lowercase and check
lowercase_string = string_variable.lower()
is_lower = lowercase_string.islower()
print(f"Is lowercase string in lowercase? {is_lower}")

# Convert string to uppercase and check
uppercase_string = string_variable.upper()
is_upper = uppercase_string.isupper()
print(f"Is uppercase string in uppercase? {is_upper}")

Is string in lowercase? False
Is string in uppercase? False
Is lowercase string in lowercase? True
Is uppercase string in uppercase? True

In [81]:
### Checking if string is digit, alpabetic, alpha-numeric

In [82]:
# Check if the string consists of only digits
is_digit = string_variable.isdigit()
print(f"Is string only digits? {is_digit}")

# Check if the string consists of only alphabetic characters
is_alpha = string_variable.isalpha()
print(f"Is string only alphabetic characters? {is_alpha}")

# Check if the string consists of alphanumeric characters
is_alnum = string_variable.isalnum()
print(f"Is string only alphanumeric characters? {is_alnum}")

Is string only digits? False
Is string only alphabetic characters? False
Is string only alphanumeric characters? False

In [83]:
# assign "C++ is easy to learn" to a new_str variable
new_str="C++ is easy to learn"

In [86]:
### Replace C++ with Python

In [87]:
new_str = new_str.replace("C++", "Python")

new_str

'Python is easy to learn'

In [88]:
### Use Split function on new_str ###

In [89]:
split_str = new_str.split()

split_str

['Python', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [90]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [93]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'
def welcome_message(name):
  print("Welcome to functions..!!!")

In [94]:
# call a function with your name
welcome_message("Pratiksha")

Welcome to functions..!!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [95]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable

In [96]:
def add_numbers():
  num1 = 3
  num2 = 4
  total = num1 + num2
  print(total)

add_numbers()

7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [97]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number

In [98]:
def substraction_function(small_number, large_number):
  return large_number - small_number

In [100]:
# pass arguments in right order

In [101]:
result = substraction_function(3, 7)
result

4

In [103]:
# always pass arguments using there name(keyword arguments) then order does not matter

In [102]:
result = substraction_function(large_number=7, small_number=3)
result

4

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [104]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [105]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [106]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [107]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function